/node_modules
/public/hot
/public/storage
/public/files
/storage/*.key
/vendor
/src
/.idea
.buildpath
.project
/.vagrant
/.github
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.prod
robots.txt
_ide_helper.php
.phpstorm.meta.php
/storage/debugbar/*